{% layout none %}
<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<title>{{ page_title }}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	{% comment %}
      GeoIP :: Redirection for SE & EU
   {% endcomment %}
   {{ 'redirect.js' | asset_url | script_tag }}
   {% comment %}
      JavaScript :: GeoIP / Redirect
   {% endcomment %}
   {{ 'typekit.js' | asset_url | script_tag }}
   {% comment %}
      Favicons :: Modern Supported Browser & Device Favicons
   {% endcomment %}
   <link rel="apple-touch-icon" sizes="180x180" href="{{ 'apple-touch-icon.png' | asset_url }}">
   <link rel="icon" type="image/png" sizes="32x32" href="{{ 'favicon-32x32.png' | asset_url }}">
   <link rel="icon" type="image/png" sizes="16x16" href="{{ 'favicon-16x16.png' | asset_url }}">
   <link rel="mask-icon" href="{{ 'safari-pinned-tab.svg' | asset_url }}" color="#3b3b3b">
   <link rel="shortcut icon" href="{{ 'favicon.ico' | asset_url }}}">
   {% comment %}
      Stylesheet :: Design
   {% endcomment %}
   {{ 'stylesheet.scss.css' | asset_url | stylesheet_tag }}
</head>
<body>
	{% comment %}
		Icons :: SVG Sprite
	{% endcomment %}
	{%- section 'icons' -%}
	<div class="container-fluid">
		<div class="offline row justify-content-center align-items-center">
			<div class="col-11 col-md-6 text-center">
				<svg class="offline__logo">
					<use xlink:href="#logo"></use>
				</svg>
				<div class="offline__caption text-center mt-3">
					<span class="d-inline">
						We are currently doing routine updates to our web store.
					</span>
					<span class="d-block">
						Please check back again soon.
					</span>
				</div>
				<div class="offline__password mt-4">
				{% form 'storefront_password' %}
					<div class="offline__errors d-block pb-3">
						{{ form.errors | default_errors }}
					</div>
					<input type="password" name="password" id="password" placeholder="Admin Access">
					<input class="offline__button d-inline" name="commit" type="submit" value="Enter" />
				{% endform %}
				</div>
			</div>
		</div>
	</div>
</body>
</html>
